extend ../layout

block title
  | Edit About Info

block content
  style

  .page-header
    h1 Edit About Info

  form(method="post", action="")

    each val, field in fields
      - var value = settings[field]
      .about-field
        label #{val.label}
        - if (val.type == 'textarea')
          textarea(name=field) #{value}
        - else
          input(name=field, value=value)
    br
    input(type="submit", class="btn", value="Update Info")