extend ../layout

block title
  | Edit About Info

block content
  style

  .page-header
    h1 Edit About Info

  form(method="post", action="", name="edit-about-info")

    each val, field in fields
      .about-field
        label #{val.label}
        - if (val.type == 'textarea')
          textarea(name=field) #{val.value}
        - else
          input(name=field, value=val.value)
    br
    input(type="submit", class="btn", value="Update Info")