extend ../layout

block title
  | #{ person.name }

block content
  .page-header
    h1 #{ person.name }

  p 
    | #{ person.summary }
    a(href="#{person.slug_url}/edit") Edit
  
  h2 Images
  
  ul
    for image_id in person.images
      li
        //- FIXME - don't use the full size image here, resize it on the server before sending
        img(src="/image/#{image_id}-original", height="100")
        | license etc text goes here
    li
      a(href="#{person.slug_url}/upload_image") Upload new image
  
  h2 Contact details
  
  ul
    for contact in person.contact_details
      li
        b #{ contact.kind }: 
        | #{ contact.value } 
        a(href="#{person.slug_url}/contacts/#{contact.id}/edit") Edit
    li 
      a(href="#{person.slug_url}/contacts/new/edit") create new contact

  h2 Links
  
  ul
    for link in person.links
      li
        a(href=link.url) #{ link.url }: 
        | #{ link.comment } 
        a(href="#{person.slug_url}/links/#{link.id}/edit") Edit
    li 
      a(href="#{person.slug_url}/links/new/edit") create new link

  h2 Raw data
  
  p
    | The details for this person are also available in 
    a(href="#{person.slug_url}/json") JSON
    | .
