extend ../layout

block title
  | #{ person.name }

block meta_headers
  meta(name="description", content="#{ person.name }. #{ person.summary || '' }")

block content            
  
  article(class="entity person", itemscope, itemtype="http://schema.org/Person")

    header.entity-header-nav(id="person-#{person.slug}")
      //- nav
        //- a.previous-entity(href="https://github.com/mysociety/popit/issues/61", title="Previous Person: Person Name")
        //-   em Previous&nbsp;Person:
        //-   strong Person&nbsp;Name
        //- a.next-entity(href="https://github.com/mysociety/popit/issues/61", title="Next Person: Person Name")
        //-   em Next&nbsp;Person:
        //-   strong Person&nbsp;Name
      h1.current-entity( id="entity-name-in-header", title="#{ person.name }", class="edit-in-place", data-api-url="/person/#{ person.id }", data-api-name="name") #{ person.name }
      //- div.find-entity
      //-   label(for="entity-search") Search for Person
      //-   input#entity-search(type="search", name="entity-search")
      
    aside
      ul.photos
        if person.images.length
          for image in person.images
            li
              if image.url
                //- TODO - proxy will need changes to allow us to proxy remote images
                img(src=image.url, width=280)
              else
                img(src="#{image_proxy(person.slug_url + "/images/" + image.id, "", 280)}")
              p.photo-source source:
                a(href="#photographer-url") Photographer
                abbr.license(title="Creative Commons - By Attribution - Share Alike") CC-BY-SA
                ul.admin-options
                  li
                    form(method="post", action="#{person.slug_url}/images/#{image.id}/delete")
                      input(type="submit", value="delete", style="width: 4em; display: inline")
                      |  this photograph
        else
          li
            img(src='/img/person_placeholder.svg', width=280)            
      ul.admin-options
        li
          a.add(href="#{person.slug_url}/images/upload")
              strong + add 
              | a photograph

      
    ul.admin-options
      li
        a(class="delete delete-person", data-id=person.id)
          strong - delete 
          | this person
      li
        a(class="edit activate-edit-in-place", data-edit-in-place-id="entity-name-in-header", href="#")
          strong ^ edit
          |  this person's name

    section.description(itemprop="description")
                  
      ul.admin-options
        li
          a(class="edit activate-edit-in-place", data-edit-in-place-id="entity-summary-text", href="#")
            strong ^ edit
            |  this summary

      p#entity-summary-text(class="edit-in-place-textarea", data-api-url="/person/#{ person.id }", data-api-name="summary") #{person.summary}
    
    section.personal-details
      //- ul.admin-options
      //-   li
      //-     a.add(href="https://github.com/mysociety/popit/issues/59")
      //-       strong + add 
      //-       | information
      //-   li
      //-     a.edit(href="https://github.com/mysociety/popit/issues/59")
      //-       strong ^ edit 
      //-       | this section
  
      h2 Name, birthday & similar:
      dl
        dt Full Name:
        dd(itemprop="name") #{ person.name }
        
        //- dt Birthdate:
        //- dd
        //-   time(itemprop="birthDate", datetime="1951-02-20") 20 February 1951

    if person.other_names.length
      section.personal-details

        
        h2 Alternative names:

        dl
          for name in person.other_names
            dt #{ name.comment || 'Alternative name' }:
            dd(itemprop="name") #{ name.name }
        
        

    section.positions

      h2 Jobs and positions held now or in the past:

      ul.admin-options
        li
          span.admin-options
            a(data-person-id=person.id, data-person-hide-field="1", class="add new-position")
              strong + add 
              | a new position

      dl
        for position in positions
          dt #{ position.title }:
          dd
            if position.organisation
              |  #{ position.organisation.name }
              //- a(href=position.organisation.slug_url) #{ position.organisation.name }
            else
              | unknown
            //- a.hover_edit(href="#{person.slug_url}/contacts/#{contact.id}/edit") edit
            
    section.contact-information
      h2 Contact Information:
      ul.detail-list
        - var api_url_root = person.api_url + '/contact_details/'
        for item in person.contact_details
          li
            include ../contact/view
        li
          span.admin-options
            a(data-url-root="#{api_url_root}", class="add contact-edit")
              strong + add 
              | a new contact detail
                

    section.links
      h2 Links:
      ul.detail-list
        - var api_url_root = person.api_url + '/links/'
        for item in person.links
          li
            include ../link/view
        li
          span.admin-options
            a(data-url-root="#{api_url_root}", class="add link-edit")
              strong + add 
              | a new link
  
    section.raw-data
      h2 Raw data
      p The details for this person are also available in 
        a(href="/api/v1/person/#{ person.id }") JSON
        | .
