extend ../layout

block title
  | Add position

append css_loading
  link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css', type='text/css', media='screen', charset='utf-8')
  

append javascript_loading
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js")
  script
    $(function() {
      $('input[name=title]').autocomplete({
        source: '/autocomplete/position_title',
      });
      $('input[name=organisation_name]').autocomplete({
        source: '/autocomplete/organisation_name',
        search: function(event, ui) {
          $('#org_help_text').text('New organisation with this name will be created');
          $('input[name=organisation_slug]').val('');
        },
        select: function(event, ui) {
          $('#org_help_text').text('Existing organisation will be used');
          $('input[name=organisation_name]').val( ui.item.label );
          $('input[name=organisation_slug]').val( ui.item.value );
          console.log(ui.item);
          return false;
        }
      });
    });

block content
  h1 Create a new position

  p <strong>Job title</strong> and <strong>Organisation name</strong> will
    | autocomplete to existing entries. If you don't use the autocompleted option
    | a new title or organisation will be created.

  form(method="post", action="")

    #position_new_title
      label Job title
      input(name="title", value=position.title)

    //- if locals.show_person
    //-   #position_new_person_name
    //-     label Person Name
    //-     input(name="person_name", value=person.name)
    //-   
    //-   #position_new_person_slug
    //-     label Person Slug
    //-     input(name="person_slug", value=person.slug)

    if locals.show_organisation
      #position_new_organisation_name
        label New Organisation Name
        input(type='text',   name="organisation_name", value=organisation.name)
        input(type='hidden', name="organisation_slug",   value=organisation.slug)
        #org_help_text Enter name above to search

    input(type="submit", class="btn", value="Create new position")
