extend ../layout

block title
  | Migration Tool

block content
  .page-header
    h1#mapping Define Mapping

  p On this page you have to define the mapping for the import. Please read the instruction since this is the crucial step of the whole migration process. 
  p A mapping is a way to tell the migration what the different column names mean. You should try to select a 
    i Database schema group 
    | and a 
    i Database Attribute 
    | for every column. 
  p
    | If you leave the 
    i Database schema group 
    | or the 
    i Database Attribute 
    | empty, it will not be imported.


  for schema, schemaid in schemas
    h2 #{schema.name}

    form(method="post", action="", class="migration-form")
      input(type="hidden", name="db-schema", value=schemaid)
      if migration.source.parsed
        table(class="migration-table")
          thead
            tr
              th Header from CSV
              th Database schema group
              th Database Attribute
              th(class="hidden") hidden
              th Example entries
          tbody
            for entry, entrykey in _.zip(migration.source.parsed.header, migration.source.parsed.data[1],  migration.source.parsed.data[2])
              tr(id='id_' + entry[0].replace(/ /g,'_'))
                td
                  input(type="hidden", name="csv-attribute", value=entry[0])
                  | #{entry[0]}
                td
                  select(name="db-attribute-class")
                    option(value="", selected="selected")
                    for option, optionkey in schema.options
                      option(value="#{optionkey}", data-suggestions=option.suggestions, data-strict=option.strict) #{option.title}
                td
                  input(type="text", name="db-attribute")
                  small(class='suggestions')
                td(class="hidden")
                td(class="sample")
                  - var a = [entry[1], entry[2]].filter(function(a){return a}).join(', ')
                  = a

        input(type="submit", class="btn", value="Start migration")
