extend ../layout

block title
  | Migration Tool

block content
  .page-header
    h1
      a(href="/migration") Migration Tool

  p TODO: Description for define mapping
    | If you leave the 
    i Database schema group 
    | or the 
    i Database Attribute 
    | empty, it will not be imported.


  for schema, schemaid in schemas
    h2 #{schema.name}

    form(method="post", action="", class="migration-form")
      input(type="hidden", name="db-schema", value=schemaid)
      if migration.source.parsed
        table(class="migration-table")
          thead
            tr
              th Header from CSV
              th Database schema group
              th Database Attribute
              th(class="hidden") hidden
              th Example entry 1
              th Example entry 2
          tbody
            for entry, entrykey in _.zip(migration.source.parsed.header, migration.source.parsed.data[1],  migration.source.parsed.data[2])
              tr()
                td
                  input(type="hidden", name="csv-attribute", value=entry[0])
                  #{entry[0]}
                td
                  select(name="db-attribute-class")
                    option(value="", selected="selected")
                    for option, optionkey in schema.options
                      option(value="#{optionkey}") #{option.title}
                td
                  input(type="text", name="db-attribute")
                  small(class='suggestions')
                td(class="hidden")
                td(class="sample")
                  #{entry[1]}
                td(class="sample")
                  #{entry[2]}

        input(type="submit", class="btn", value="Start migration")
