!!! 5



//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en-gb">
//if IE 8
  <html class="no-js lt-ie9" lang="en-gb">
//if gt IE 8
  // 
  <html lang="en-gb" class="no-js">

head

  meta(charset='UTF-8')
  //
    |
    | -------------------------------------
    | PopIt
    | -------------------------------------
    | A really easy way to store and share information about politicians or other public figures brought to you by mySociety, a charitable project which builds websites that give people simple, tangible benefits in the civic and community, and teaches through demonstration, how to use the internet most efficiently to improve lives. (http://www.mysociety.org/)
    | --------------------------------- 
  meta(name='creator', content='http://www.mysociety.org/')
  
  //- Stop IE messing up layout with silly buttons on every image 
  meta(http-equiv='imagetoolbar', content='false')
  
  //- Make sure this is different on each page, populate this with the generated summary when viewing people pages 
  //- FIXME imprement in a block
  meta(name='description', content='PopIt, a really easy way to store and share information about politicians or other public figures.')
  
  
  title
    block title
      | PopIt 
  
  block css_loading
    link(rel='stylesheet', href='/css/popit.css', type='text/css', media='screen, print', charset='utf-8')
    link(rel='stylesheet', href='/css/print.css', type='text/css', media='print', charset='utf-8')
  
  //- Mobile viewport optimised: h5bp.com/viewport 
  meta(name='viewport', content='width=device-width,initial-scale=1')
  
  //- Modernizr
  //- In the head to stop conflicts with jQuery 
  //- Full & uncompressed for now until finished then we can do a custom cutdown build with just the bits we need 
  // script(src='/js/libs/modernizr-2.5.3.js', type='text/javascript', charset='utf-8')

  //- Javascript 
  script(src='/js/libs/require-1.0.8.js', data-main="/js/main-instance", type='text/javascript', charset='utf-8')

if locals.user
  bodyClasses = ['signed_in']
// FIXME set the body ID to be the slug version of the instance name instead of united-kingdom
body#popit-united_kingdom(class=bodyClasses)

  if locals.user
    noscript
      #no-js-warning Please <a href="http://www.enable-javascript.com/" target="_blank">enable JavaScript</a> - without it much of the admin on this website will not work.
    
  header#header
    h1.logo
      a(href='/')
        abbr(title='People Organisations Positions') Pop
        | It
        if locals.popit
          span.popit-instance  : 
            span#popit_instance_name #{ popit.instance_name() }
    #user_menu
      if locals.user
        #signed_in
          | Hello 
          span.username #{user.email}
          | , 
          //- a(href='#user-preferences') View Settings
          a(href='/logout') Sign Out
      else
        #sign_in
          | already have an account? 
          a(href='/login') Sign In
          
      div
        a(href='/info/data-import') Import data automatically

  
  #content
    block content
    
  footer#footer
    div
      #sitemap
        a.logo(href='/') PopIt
        ul
          li
            a(href='/about/') About Us
          li
            a(href='/person') People
            | , 
            a(href='/organisation') Organisations
          li
            a(href='/info/about') About PopIt
          li
            a(href='/api') API
            |  / 
            a(href='/info/data-import') Data Freedom
          li
            a(href='/FIXME') Self Hosting
          li
            a(href='/info/privacy') Terms & Privacy Policy
      #about-mysociety
        a(href='http://www.mysociety.org', title='mySociety')
            img.mysociety-logo(src="/img/mysociety-logo.png")
        p
          | This is the 
          a(href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha") α
          | lpha of 
          a(href=config.hosting_site_base_url) PopIt
          | , a new service for lowering the barrier
          | to getting started with transparency projects. Please feel free to
          | make a 
          a(href="#{config.hosting_site_base_url}/instances/new") new instance
          | , and join 
          a(href="https://secure.mysociety.org/admin/lists/mailman/listinfo/components") our mailing list
          |  to let us know that you're interested in giving it a go

        p
          | Learn more at 
          a(href='http://www.mysociety.org', title='mySociety') www.mysociety.org
    .copyright


//- manually close the html tag as we opened it in a funny way using the conditional comments above
</html>