extends layout

block title
  | Welcome back

block content
  div.login-form
    h1 Welcome back
    p.instructions Log back in to manage your PopIt site. 
           a(href='#FIXME') Forgotten your details?
    if locals.errors && errors.length
       ul#errors
         each error in errors
           li.error= error

     form(action='/login', method='post')
       p
         label(for=everyauth.password.loginFormFieldName ) Email:
         input#email(type='text', name=everyauth.password.loginFormFieldName, value=email)
       p
         label(for=everyauth.password.passwordFormFieldName ) Password:
         input#password(type='password', name=everyauth.password.passwordFormFieldName )
       p.form-action
         input#login.btn(type='submit', class="btn", value='Login')