extend ../layout

block title
  | #{ organisation.name }

block meta_headers
  meta(name="description", content="#{ organisation.name }. #{ organisation.summary || '' }")

block content
  style
    a.hover_edit {
      float: right;
      color: #ddd;
      font-size: 80%;
    }    

    a.hover_edit:hover {
      color: #333;
    }
            

  article(class="person", id="person-james_gordon_brown", itemscope, itemtype="http://schema.org/Organisation")
    header.person-header-nav(id="person-#{organisation.slug}")
      nav
        //- a.previous-person(href="https://github.com/mysociety/popit/issues/61", title="Previous Organisation: Organisation Name")
        //-   em Previous&nbsp;Organisation:
        //-   strong Organisation&nbsp;Name
        //- a.next-person(href="https://github.com/mysociety/popit/issues/61", title="Next Organisation: Organisation Name")
        //-   em Next&nbsp;Organisation:
        //-   strong Organisation&nbsp;Name
      h1.current-person(title="#{ organisation.name }") #{ organisation.name }
      //- div.find-person
      //-   label(for="person-search") Search for Organisation
      //-   input#person-search(type="search", name="person-search")
      
    aside
      ul.photos
        for image in organisation.images
          li
            if image.url
              img(src="#{image_proxy(image.url, "", 240)}")
            else
              img(src="#{image_proxy(organisation.slug_url + "/images/" + image.id, "", 240)}")
            p.photo-source source:
              a(href="#photographer-url") Photographer
              abbr.license(title="Creative Commons - By Attribution - Share Alike") CC-BY-SA
              ul.admin-options
                li
                  form(method="post", action="#{organisation.slug_url}/images/#{image.id}/delete")
                    input(type="submit", value="delete")
                    |  this photograph
      ul.admin-options
        li
          a.add(href="#{organisation.slug_url}/images/upload")
              strong + add
              |  a photograph
                  
    section.summary
      p #{organisation.summary}
    
    section.to_be_added
      p 
        | There is a 
        a(href="https://github.com/mysociety/popit/issues/183") github ticket
        |  to put more details on this page.

    
        

    section.raw-data
      h2 Raw data
      p The details for this organisation are also available in 
        a(href="/api/v1/organisation/#{organisation.id}") JSON
        | .
