extends layout

block title
  | #{ instance.info.name || instance.slug }

block meta_headers
  meta(name='description', content='#{ instance.info.name || instance.slug }. #{ instance.info.description || '' }')

block content
  h1 #{ instance.info.name || instance.slug }

  p
    a(href=instance.base_url) #{ instance.base_url }

  if instance.info.description
    p #{ instance.info.description }

  if instance.info.name
    h2 Details
    p Number of people: #{ instance.info.person_count || 0 }
    p Number of organisations: #{ instance.info.organisation_count || 0 }
    p Last updated (approx): #{ moment( instance.info.last_updated ).fromNow() }
    
    //- TODO - display more details here
    //- https://github.com/mysociety/popit/issues/157
    //- pre= instance.info
