extends layout
    
block title
  | Create your PopIt site

block content

  - var errors = locals.errors || {}

  .page-header
      h1 Make your own PopIt 
        span(class='long-title') politician monitoring web
        |site
    p.intro
      | To start using PopIt you need to create a new instance. This is quick, easy, free and you do it by filling in the form below. A temporary password will be emailed to you that you can change once you login.
    
    form.well.form-horizontal(method='post', action='')
        p.control-group(class="#{ errors.slug ? 'error' : '' }")
          label.control-label(for='slug') Pick a website name
          span.controls.append
            input#slug.input-xlarge(type='text', name='slug', data-validation='required url_safe', value='#{ locals.slug || '' }')
            span.add-on .#{ popit.instance_domain_suffix }
            if errors.slug
              span.help-block Your website name can only contain letters and numbers. It should be at least four letters long but no longer than 20.
              span.help-block Error is '#{ errors.slug.type }'.
            else
              span.help-block.hide Your website name can only contain letters and numbers. It should be at least four letters long but no longer than 20.

        p.control-group(class="#{ errors.email ? 'error' : '' }")
          label.control-label(for='email') Your Email address
          span.controls
            input#email.input-xlarge(type='email', name='email', data-validation='required email', value='#{ locals.email || '' }')
            span.suggestion
            if errors.email
              span.help-block Error is '#{ errors.email.type }'.            

        .form-actions
          input.btn.btn-primary(type='submit', value='Create your own PopIt')
