extends layout

block title
  #{ instance.info.name || instance.slug }

block content
  .page-header
    h1 #{ instance.info.name || instance.slug }

  p
    a(href=instance.base_url) #{ instance.base_url }

  p
    if instance.info.description
      | #{ instance.info.description }
    else
      | There are no more details about this site.

  p FIXME - present the rest of this information

  pre= instance.info
