extend layout

block title
  | Instance Directory

block content
  .page-header
    h1 Instance Directory
  
  p
  if instances.length
    ul
      for instance in instances
        li
          if instance.info[0]
            a(href="#{ instance.base_url }") #{ instance.info[0].name }
            if instance.info[0].description
              | -
              #{ instance.info[0].description }
          else
            a(href="#{ instance.base_url }") #{ instance.slug }
  else
    p.error No instances have been created yet.
